################################################################################
# .gitignore file for AltiumDesigner-Libraries
################################################################################

#-------------------------------------------------------------------------------
# Exclude the following files from repository.
#-------------------------------------------------------------------------------
.vscode/
.DS_Store

# CAD files folder
CAD-Files/

### End of file ###
